/* Common SC.FileFieldView styles - needed to work properly */

@import "compass/css3";

.sc-view .sc-file-field-view {
    direction: ltr;
    z-index: 9000;
}

.sc-view .sc-file-field-form {
}

.sc-view .sc-file-field-input-view {
    @include opacity(0);
    font-size: 480px;
    position: absolute;
}

.sc-view .sc-file-field-iframe {
    border-style: none;
}

.sc-view .sc-file-field-label-view {
    line-height: 24px;
}