$theme.sc-view.sc-image-upload-view {
    @include border-radius(120px, 120px);
    @include box-shadow(0px 1px 2px rgba(black, 0.2));
    background-color: #d7d7d7;
    background-size: cover;

    * {
        cursor: pointer !important;
    }

    &:hover {
        background-color: #e7e7e7;

        &.has-value {
            .icon {
                @include opacity(1);
            }
        }
    }

    &.active {
        background-color: #a7a7a7;
        .icon {
            @include slice('../images/add-icon-active.png');
        }
    }

    .icon {
        @include transition(opacity 0.1s ease-in-out);
        @include slice('../images/add-icon.png');
        width: 34px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -17px;
        margin-top: -17px;
    }

    &.has-value {
        .icon {
            @include opacity(0);
        }
    }

}


